body{
	background-image: url(bambuu.jpg);
}

.utama{
	background-color: white;
	max-width: 1080px;
	/*height: 1000px;*/
	margin: 20px auto;
}

.kepala{
	background-image: url(header.jpeg);
	height: 200px;
	background-size: cover -50px;
	background-repeat: no-repeat;
	background-position: center;

	
}


.kiri{
	width: 250px;
	height: 550px;
	margin-left: 10px;
	margin-top: -25px;
	float: left;

}

	.kiri img {
		width: 155px;
		height: 155px;
		padding: 5px;
		margin: 20px;
		border: 1px solid gainsboro;
	}

	.kiri p {
		padding-left: 25px;
		margin-top: -18px;
	}
	

.tengah{
	width: 350px;
	height: 650px;
	float: left;
	margin-top: -5px;
	margin-right: 30px;
	text-align: justify;
}
	
	.tengah label{
		color: lime;
	}

	.tengah h3{
		line-height: 2px;
	}



	
	
.kanan{
	width: 350px
	height: 550px;
	float: left;
	border-left: 1px solid gainsboro;
	padding-left: 20px;
}

	.kanan h3{
		color: pink;
		margin-left: 10px;
	}

	.kanan h4{
		color: pink;
		margin-left: 15px;
		border-bottom: 1px solid gainsboro;
	}

	.kanan p{
		padding-left: 12px;
		margin-top: -15px;
	}



footer{
	clear: both;
	background-color: lime;
	color: white;

}